@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

div {
  margin-top: 10px;
  background-color: white;
  font-size: 40px;
}
.divm {
  width: 140px;
  height: 100%;
}
.pt {
  width: 100%;
  height: 25%;
  align-content: left;
  justify-content: left;
}
.pc {
  justify-content: center;
  text-align: center;
}
.pb {
  width: 100%;
  height: 25%;
  align-content: right;
  justify-content: right;
}
